* {
  box-sizing: border-box;
}
:root {
  --white: #f3f5f5;
  --lightGreen: #00cdbd;
  --grey: #868a8a;
  --orange: #ff8000;
}
body {
  margin: 0;
  background: var(--white);
  color: #2e3333;
}
header {
  display: block;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 1em;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 5px;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h3 {
  margin-top: 0;
}
p {
  color: var(--grey);
}
.topBar {
  height: 60px;
  border-bottom: 1px solid #e9ebeb;
}
.topBar--center,
.restaurantInfos--center {
  margin: 0 auto;
  width: 96vw;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}
.logo {
  height: 200%;
}

.restaurantInfos--center {
  padding: 30px 0;
  align-items: flex-start;
}
.restaurantInfos--cover {
  width: 350px;
  border-radius: 5px;

  background: var(--white);
}
.restaurantInfos--text p {
  font-size: 1.2rem;
  line-height: 1.5;
}
/*deuxieme partie*/
.Content--center {
  margin: 0 auto;
  width: 96vw;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.Menu {
  flex: 1 1;
  margin-right: 30px;
  margin-bottom: -25px;
}
.Content--center {
  margin: 0 auto;
  width: 96vw;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.MenuItem--picture img {
  height: 130px;
  width: 130px;
  border-radius: 5px;
  object-fit: cover;
}
.MenuItems--items {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.MenuItem {
  width: 40%;
  min-width: 300px;
  padding: 0 10px 25px;
  display: flex;
  justify-content: space-between;
}

.MenuItem {
  border-radius: 5px;
  height: 160px;
  background: #fff;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  margin: 0 5px 5px 0;
  overflow: hidden;
}
.MenuItem--price {
  color: var(--grey);
  font-size: 1.1rem;
}

.MenuItem--popular {
  color: var(--orange);

  margin-left: 20px;
}
/* Panier*/
.Cart {
  width: 350px;
  position: sticky;
  top: 0;
}
.Cart--card {
  box-shadow: 0 22px 24px 0 rgba(46, 51, 51, 0.07);
  background: #fff;
  border-radius: 4px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 30px 0;
}
.Cart--validate {
  display: block;
  margin: 10px;
  border-radius: 5px;
  padding: 1rem;
  background: var(--lightGreen);
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
}
.Cart--items {
  border-bottom: 1px solid #d1d7d7;
  margin: 0 10px;
  max-height: calc(100vh - 300px);
  overflow: auto;
  margin-bottom: 5px;
}

.Cart--line {
  display: flex;
  align-items: flex-start;
  padding: 1rem 0;
  justify-content: space-between;
}

.Cart--counter {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: var(--grey);
}
.Cart--counter span {
  margin-right: 5px;
}

.icons {
  border: var(--lightGreen) 1px solid;
  border-radius: 50%;
  padding: 2px;
  color: var(--lightGreen);
}
.Cart--card p {
  text-align: end;
}
