/* Other rules */
.images {
  height: 100px;
}
body {
  margin: 0px;
}
/*LOGO*/
.HEADER {
  border-bottom: 1px solid #eaebeb;
  height: 60px;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
.logo {
  height: 60px;
}
/*HEADER*/
.header {
  display: flex;
  background-color: white;
}
.montorgueil {
  width: 50%;
}

.image-header {
  width: 50%;
}
.image-header img {
  width: 500px;
}
/*MENUS RESTAURANT*/
.categories {
  background-color: #f4f5f5;
}
.restaurant-details {
  display: flex;
  flex-direction: row;
}
.panier {
  width: 500px;
}
.meals {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.meal-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 400px;
}
.meals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
